.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    background-color: var(--secondary-color);
    padding: 20px 14px;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    z-index: 999;
    transition: var(--default-transition);
    overflow-y: scroll;

    .mennu-link-icon{
        display: flex;
        align-items: center;
      }
}